*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:75px;
    background-color:rgb(250, 235, 27);
    margin-bottom: 20px;
}

.left,.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:30%;
}